body {
    background-color: rgb(85, 126, 113);
    color: bisque;
    font-family: "Bai Jamjuree", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
     margin: 0;
}

    button{
        background-color: black;
        color: aliceblue;
        font-family: "Bai Jamjuree", sans-serif;
    }

    .passo{
        display: none;
    }

    .passo.ativo{
        display:block;
    }

    main {
        text-align: center;
        max-width: 90%;
    }
    
    img {
        max-width: 90%;
    }